[model]
model = unet                 # Model: unet, dilated-unet or dilated-densenet
features = 32                # Number of features maps after first convolutional layer
depth = 4                    # Number of downsampled convolutional blocks
temperature = 1.0            # Temperature of final softmax layer in model
padding = same               # Padding in convolutional layers. Either `same' or `valid'
batchnorm = False            # Whether to apply batch normalization before activation layers
dropout = 0.0                # Rate for dropout of activation units (set to zero to omit)
window = 0                   # Parameter for window Unet

[data generator properties]
zero_padding = 320 448       # zero_padding: None, [320, 448]. If None, zero padding is applied to each batch
data_skew = False            # Skew the probabilities of the batch samples in the ratio of percentage of TRUE pixels

[loss]
loss = dice                  # Loss function: `pixel' for pixel-wise cross entropy,
                             # `dice' for sorensen-dice coefficient,
                             # `jaccard' for intersection over union
loss_weights = 0.5 0.5       # When using dice or jaccard loss, how much to weight each output class

[training]
epochs = 1                   # Number of epochs to train
batch_size = 4              # Mini-batch size for training
validation_split = 0.2       # Fraction of training data to hold out for validation
optimizer = adam             # Optimizer: sgd, rmsprop, adagrad, adadelta, adam, adamax, or nadam
learning_rate = 1e-5         # Optimizer learning rate
momentum =                   # Momentum for SGD optimizer
decay =                      # Learning rate decay (for all optimizers except nadam)
shuffle_train_val = True
shuffle = True
seed = 0
train_steps_per_epoch = 20
val_steps_per_epoch = 8

[files]
load_weights =               # Name of file to load previously-saved model weights
datadir = ../data_small      # Directory containing list of patientXX/ subdirectories
outdir = ../outputs/exp_1    # Where to write weight files
checkpoint = True            # Whether to output model weight checkpoint files
ckpt_period = 10             # Period of epochs after which weights are saved

[augmentation]
data_augment = True          # Whether to apply image augmentation to training set
rotation_range = 180         # Rotation range (0-180 degrees)
width_shift_range = 0.1      # Width shift range, as a float fraction of the width
height_shift_range = 0.1     # Height shift range, as a float fraction of the height
shear_range = 0.1            # Shear intensity (in radians)
zoom_range = 0.05            # Amount of zoom. If a scalar z, zoom in [1-z, 1+z].
                             # Can also pass a pair of floats as the zoom range.
fill_mode = nearest          # Points outside boundaries are filled according to
                             # mode: constant, nearest, reflect, or wrap)
alpha = 500                  # Random elastic distortion: magnitude of distortion
sigma = 20                   # Random elastic distortion: length scale
normalize = True
